<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Interactive 3DGS</title>
  <style>
    body {
    font:  Verdana, Arial, Helvetica, sans-serif;
    background-color: linear-gradient(white, #e82b2b);
    padding: 0;
    margin-top:25%;
    margin-left:52%;
    color: rgb(0, 0, 0);
    }
    p {
    margin-top: 0; /* removing the top margin gets around an issue where 
    margins can escape from their containing div. 
    The remaining bottom margin will hold it away from any elements that follow. */
    padding-right: 0;
    padding-left: 0;
    }
  </style>
</head>
<body>
  <h1>List of examples</h1>

  <p> 
    &#x2022; example 1 -
    <a href="../examples/example_1.html" style="text-decoration: none">
      single node
    </a>
  </p>

  <p> 
    &#x2022; example 2 -
    <a href="/examples/example_2.html" style="text-decoration: none">
      two nodes 
    </a>
  </p>

  <p> 
    &#x2022; example 3 -
    <a href="/examples/example_3.html" style="text-decoration: none">
     three supports subdivision
    </a>
  </p>

  <p> 
    &#x2022; example 4 -
    <a href="/examples/example_4.html" style="text-decoration: none">
      load network w. three supports
    </a>
  </p>

  <p> 
    &#x2022; example 5 -
    <a href="/examples/example_5.html" style="text-decoration: none">
      bridge with four supports
    </a>
  </p>
</body>

</html>
